.MuiMenu-root > .MuiBackdrop-root {
  @apply bg-transparent;
}

.MuiPaper-root {
  @apply bg-black-200 text-whiteSmoke bg-none rounded-lg;
  box-shadow: 4px 4px 10px 0px rgba(20, 20, 20, 0.75),
    -4px -4px 10px 0px rgba(20, 20, 20, 0.75);
}

.MuiList-root {
  @apply !p-2 space-y-2;
}

.MuiMenuItem-root {
  @apply text-base rounded px-3 whitespace-normal hover:bg-whiteSmoke-900 flex items-center gap-x-2;
}
