@import url("./typography.css");

:root {
  --font-body: "Figtree", "Avenir", "Corbel", "source-sans-pro", sans-serif;
  --font-heading: "Space Grotesk", system-ui, sans-serif;
}

body {
  font-family: var(--font-body) !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading) !important;
}
