.teli-brand {
  @apply inline-flex gap-x-2 items-end;

  & .teli-app-name {
    @apply text-app-color text-center uppercase;
  }
}

.teli-brand__heading {
  @apply flex gap-x-2.5 font-teli-brand;
}
.teli-brand__heading--jumbo {
  font-size: clamp(1.802rem, 5vw, 4.11rem);
  line-height: 1;
}

.teli-brand__heading--base {
  font-size: 1.802rem;
  line-height: 2rem;
}

.teli-brand-org {
  @apply hidden sm:block;
}

.beta-badge {
  @apply font-teli-body bg-whiteSmoke-100 rounded border border-black-300 text-black-100 font-medium;
  font-size: clamp(0.624rem, 0.6vw, 0.889rem);
  padding-inline: clamp(0.125rem, 1vw, 0.5rem);
}

.beta-badge-jumbo {
  margin-bottom: clamp(0.25rem, 1vw, 0.5rem);
}
