@import url("tailwindcss/base");
@import url("./styles/typography.css");

@import url("tailwindcss/components");

@import url("tailwindcss/utilities");

:root {
  --teli-app-color: var(--app-color, 133, 69, 252);
  --teli-app-color-50: var(--app-color-50, 247, 236, 255);
  --teli-app-color-100: var(--app-color-100, 227, 203, 252);
  --teli-app-color-200: var(--app-color-200, 203, 165, 250);
  --teli-app-color-300: var(--app-color-300, 180, 131, 251);
  --teli-app-color-400: var(--app-color-400, 155, 102, 253);
  --teli-app-color-500: var(--app-color-500, 133, 69, 252);
  --teli-app-color-600: var(--app-color-600, 109, 52, 207);
  --teli-app-color-700: var(--app-color-700, 87, 28, 161);
  --teli-app-color-800: var(--app-color-800, 68, 20, 116);
  --teli-app-color-900: var(--app-color-900, 42, 12, 71);
  --teli-app-color-950: var(--app-color-900, 22, 5, 28);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiFormControlLabel-root.Mui-disabled {
  @apply cursor-not-allowed;
}
.MuiTypography-root.MuiFormControlLabel-label.Mui-disabled {
  @apply dark:text-black-800 text-black-100/70;
}

.MuiTypography-root {
  @apply font-teli-body;
}

.theme__text {
  @apply dark:text-teli-whitesmoke font-teli-body;
  letter-spacing: 0.05em;
}

.theme__bg {
  @apply dark:bg-teli-black;
}

@layer base {
  html {
    font-size: 14px;
  }
}

@layer utilities {
  .fixed-h-canvas {
    @apply h-44;
  }
}
